.mobile-view{
    display: none ;
  }
.footer_thankyou{
 margin: auto;
 width: 50%;
 text-align: center;
}
@media only screen and (max-width: 600px){
    .desktop-view{
        display: none;
      }
      .mobile-view{
        display:block;
      }
      .footer_thankyou{
        width: 100%;
       }
}